@model IEnumerable<ImDone.Genero>

@{
    ViewBag.Title = "Index";
}

<h2>Géneros</h2>

<form method="get" style="float:right; position:absolute; left:1088px; top:150px">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>

<br />

<p>
    @Html.ActionLink("Exportar Excel", "exportaExcel", "Generoes", null, new { @class = "btn btn-danger" })



    @Html.ActionLink("Crear nuevo", "Create", "Generoes", null, new { @class = "btn btn-primary" })

</p>

<table class="table">
    <tr>
        <th>
            Género
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_genero)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_genero }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_genero }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_genero })
            </td>
        </tr>
    }

</table>
