@model IEnumerable<ImDone.Horario>

@{
    ViewBag.Title = "Index";
}

<h2>Horarios</h2>

<form method="get" style="float:right; position:absolute; left:1088px; top:150px">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>

<br />

<p>
    @Html.ActionLink("Exportar Excel", "exportaExcel", "Horarios", null, new { @class = "btn btn-danger" })



    @Html.ActionLink("Crear nuevo", "Create", "Horarios", null, new { @class = "btn btn-primary" })

</p>

<table class="table">
    <tr>
        <th>
            Nombre Cine
        </th>
        <th>
            Título Película)
        </th>
        <th>
            Sala
        </th>
        <th>
            Periodo Tanda
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cine.nombre_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.titulo_pelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.nombre_sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanda.periodo_tanda)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
