@model ImDone.Pelicula_Protagonista

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pelicula_Protagonista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dummy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dummy)
        </dd>

        <dt>
            Título Película
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.titulo_pelicula)
        </dd>

        <dt>
            Protagonista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protagonista.nombre_protagonista)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
