@model IEnumerable<ImDone.Genero_Pelicula>

@{
    ViewBag.Title = "Index";
}

<h2>Relación n - n Genero-Peliculas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dummy)
        </th>
        <th>
            Género
        </th>
        <th>
            Título Película
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dummy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.nombre_genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.titulo_pelicula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_GP }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_GP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_GP })
        </td>
    </tr>
}

</table>
