@model ImDone.sapnu_puas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sapnu_puas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidad_cine)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_cine)
        </dd>

        <dt>
            Género
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_genero)
        </dd>

        <dt>
            Protagonista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_protagonista)
        </dd>

        <dt>
            Tarifa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_tarifa)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Clasificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_clasificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
