@model ImDone.sapnu_puas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sapnu_puas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Localidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidad_cine)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_cine)
        </dd>

        <dt>
            Género
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_genero)
        </dd>

        <dt>
            Protagonista
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_protagonista)
        </dd>

        <dt>
            Tarifa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_tarifa)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Clasificación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_clasificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
