@model IEnumerable<ImDone.sapnu_puas>

@{
    ViewBag.Title = "Index";
}

<h2>Cartelera</h2>

<form method="get" style="float:right; position:absolute; left:1088px; top:150px">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>

<br />

<p>
    @Html.ActionLink("Exportar Excel", "exportaExcel", "sapnu_puas", null, new { @class = "btn btn-danger" })



   

</p>
<table class="table">
    <tr>
        <th>
            Localidad
        </th>
        <th>
            Nombre Cine
        </th>
        <th>
            Título Película
        </th>
        <th>
            Género
        </th>
        <th>
            Protagonista
        </th>
        <th>
            Tarifa
        </th>
        <th>
            Precio
        </th>
        <th>
            Clasificación
        </th>
        <th>
            Horario
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.localidad_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo_pelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_protagonista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_tarifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
        </tr>
    }

</table>
