@model ImDone.Cine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Cine        
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cine)
        </dd>

        <dt>
            Provincia       
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia_cine)
        </dd>

        <dt>
            Municipio        </dt>

        <dd>
            @Html.DisplayFor(model => model.municipio_cine)
        </dd>

        <dt>
            Calle 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle_cine)
        </dd>

        <dt>
            Número
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_cine)
        </dd>

        <dt>
            Localidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidad_cine)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_cine)
        </dd>

        <dt>
            Tipo Tarifa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarifa.tipo_tarifa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
