@model IEnumerable<ImDone.Cine>

@{
    ViewBag.Title = "Index";
}

<h2>Cine</h2>

<form method="get" style="float:right; position:absolute; left:1088px; top:150px">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>

<br />

<p>
    @Html.ActionLink("Exportar Excel", "exportaExcel", "Cines", null, new { @class = "btn btn-danger" })



    @Html.ActionLink("Crear nuevo", "Create", "Cines", null, new { @class = "btn btn-primary" })

</p>

<table class="table">
    <tr>
        <th>
            Nombre Cine
        </th>
        <th>
            Provincia
        </th>
        <th>
            Municipio
        </th>
        <th>
            Calle
        </th>
        <th>
            Número
        </th>
        <th>
            Localidad
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Tipo Tarifa
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provincia_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.municipio_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calle_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localidad_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono_cine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa.tipo_tarifa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_cine }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_cine }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_cine })
            </td>
        </tr>
    }

</table>
